* {
    margin: 0cm;
    padding: 0cm;
}
header {
    background-color: black;
    color: white;
    justify-content: center;
    padding: 30px;
    font-size: x-large;
}
nav ul {
    display:flex;
    gap: 10rem;
    list-style: none;
    justify-content: flex-end;
}
nav ul li {
    align-items: right;
    gap: 20px;
}
.biography {
    
    justify-content: center;
    padding: 20px;
    font-size: large;
    
}
.introduction
.section_1 {
    display: flex;
    justify-content: center;
    gap: 300px;
    width: 100%;
    padding: 60px;
    height: 200px;
    background-color: beige;
    align-items: center;
}
img {
    width: 250px;
    height: 250px;
    
}
.section_2 {
    display: flex;
    justify-content: center;
    gap: 300px;
    width: 100%;
    padding: 60px;
    height: 200px;
    background-color: beige;
    align-items: center;
}
.section_3 {
    display: flex;
    justify-content: center;
    gap: 300px;
    width: 100%;
    padding: 60px;
    height: 200px;
    background-color: beige;
    align-items: center;
}
.section_4 {
    display: flex;
    justify-content: center;
    gap: 300px;
    width: 100%;
    padding: 60px;
    height: 200px;
    background-color: beige;
    align-items: center;
}
form {
      background-color: beige;
      padding: 200px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      max-width: 4000px;
      width: 1000%;
}


